.content-cont .Para-about{
   padding: 8px 20px;
   font-size: 16px;
}
.about-cont{
   padding: 35px 60px;
    
}
.aboutlower{
   height: 900px;
   width: 1500px;
   padding-top: 100px;
   /* background-color: blueviolet; */
}

.aboutpanel{
   display: flex;
   height: 650px;
   width: 1500px;
   /* background-color: rgb(202, 173, 229); */
}
.aboutext{
   height: 650px;
   width: 740px;
   padding: 200px 60px;
   /* background-color: rgb(45, 43, 47); */
}
.aboutimage{
   height: 650px;
   width: 759px;
   /* background-color: rgb(41, 32, 49); */
   background-image: url(https://images.pexels.com/photos/2959595/pexels-photo-2959595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

}